<footer class="site-footer section-padding">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-12 mb-4 pb-2">
    <a class="navbar-brand mb-2" href="index.html">
    <i class="bi-back"></i>
    <span>پستینا</span>
    </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
    <h6 class="site-footer-title mb-3">صفحات مرتبط</h6>
    <ul class="site-footer-links">
    <li class="site-footer-link-item">
    <a class="site-footer-link" href="{% url 'home' %}">خانه</a>
    </li>
    <li class="site-footer-link-item">
    <a class="site-footer-link" href="{% url 'products' %}">لیست محصولات</a>
    </li>
    <li class="site-footer-link-item">
    <a class="site-footer-link" href="{% url 'order-product' %}">درخواست ثبت محصول</a>
    </li>
    <li class="site-footer-link-item">
    <a class="site-footer-link" href="{% url 'about-us' %}">درباره ما</a>
    </li>
    </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
    <h6 class="site-footer-title mb-3">راه های ارتباطی</h6>
    <p class="text-white d-flex mb-1">
    <a class="site-footer-link" href="tel:09134828860">
                                    09134828860
                                </a>
    </p>
    <p class="text-white d-flex mb-1">
        <a class="site-footer-link" href="tel:09134871224">
                                        09134871227
                                    </a>
        </p>
    <p class="text-white d-flex">
    <a class="site-footer-link" href="mailto:pestina.ir@gmail.com">
                                    pestina.ir@gmail.com
                                </a>
    </p>
    </div>
    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
    <div class="dropdown">
    <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                                تم روشن</button>
    <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">تم روشن 2</button></li>
    <li><button class="dropdown-item" type="button">تم تیره</button></li>
    <li><button class="dropdown-item" type="button">تم تیره 2</button></li>
    </ul>
    </div>
    <p class="copyright-text mt-lg-5 mt-4">کپی رایت تیم پستینا 1403
                            <br/><br/>طراحی و توسعه از : <a href="https://t.me/ehsanramezani02" rel="nofollow" target="_blank">Ehsan Ramezani</a></p>
    </div>
    </div>
    </div>
</footer>
